# Server Configuration Environment Variables
ADMIN_PASSWORD_HASH=$2b$10$9t2YxVUTs12gvApfw7QaNe/ziKk9kfYRpm6E8X.rzMPoY2eLikuEa
JWT_SECRET=mohsin_portfolio_secret_jwt_key_2025_secure_random
PORT=3000
NODE_ENV=development

